<section class="result">
	
	<h1>RESULT</h1>

	<% if @game.winner == "Draw" %>
	 <h1> It was a draw </h1>
	 <% elsif @game.winner.name == "computer" %>
	 <h1> You lost, the computer won with <%= @game.winner.pick %></h1>
	<% else %>
	<h1> You won, with <%= @game.winner.pick %> </h1>
	<%end%>

	<a href="/play"><img src="/images/result.jpeg" alt="rock beats everything"></a>
</section>



