<section class="play">
	<h4>Welcome <%= @player%>, pick your choice.</h4>

	<form action="/play" method="POST">
		<button class="images" name="pick" value="Rock"    ></button>
		<button class="images" name="pick" value="Paper"   ></button>
		<button class="images" name="pick" value="Scissors"></button>
		<input   type="hidden" name="name" value=<%=@name%>>
	</form>
</section>